#textos {

    .imagen {
        width: 100%;
        height: 100%;
    }

    img {
        width: 60%;
        height: 100%;
    }

    h2 {
        color:$verde;
    }
    
}

#banner_estadisticas {

    position: relative;
    background-image: url(../images/banner_estadisticas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: #EFEFEF;
    height: 150px;

    .titulo {
        color: #8F8F92;
    }

    .numeros {
        font-size: 32px;
        font-weight: 700;
        color: black;
    }


    .container {
        width: 100%;
        height: 100%;

        div {
            z-index: 300;
        }
    }

}

#reconocimientos {
    
    h2 {
        color:$verde;
    }

}

.viñetas {
    color:$verde;
}