#servicios {

    .iconos {
        font-size: 35px!important;
        color: $verde_oscuro;
    }

    .card {

        .card-body {

            border-top: 1px solid $verde_oscuro;
            
        }
    
        button {
            text-decoration: none;
        }

    }


  

}