#servicios {



    .iconos {
        font-size: 28px!important;
        color: $verde_oscuro;
    }

    .card {

        h2 {
            font-size: 21px;
        }

        .card-body {

            border-top: 1px solid $verde_oscuro;
            
        }
    
        button {
            text-decoration: none;
        }

    }


  

}